accelerate==
datasets==2.16.1
huggingface==0.0.1
huggingface-hub==0.20.2
keras==2.13.1
matplotlib==3.7.4
nltk==3.8.1
opencv-python==4.7.0.72
pandas==2.0.3
peft==0.3.0
torch==2.0.1
torchvision==0.16.2
tqdm==4.66.1
transformers==4.31.0
trl==0.7.11
wandb

